*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/equipe1/Bibliotheque_partie1/nbproject/private/
/equipe1/Bibliotheque_partie1/build/
/equipe1/Bibliotheque/nbproject/private/
/equipe1/Bibliotheque/build/